<!DOCTYPE html>
<html lang="en">


<head>
    <title>Game Details</title>
    <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SteamSync</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
</head>

<!-- Navbar -->

<nav class="navbar navbar-expand-lg navbar-dark">
        <a class="navbar-brand" href="/home">
            <img src="{{ url_for('static', filename='logo7.png') }}" alt="SteamSync Logo" width="500" height="150">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="/home">Home</a>
                </li>
            </ul>
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="/Discounted_games">Specials</a>
                </li>
            </ul>
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="/home_with_news">News</a>
                </li>
            </ul>

            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Logout</a>
                </li>
            </ul>

            <form class="form-inline my-2 my-lg-0" action="/search" method="GET">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="query">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>


<body>
    <div class="title_container">
        <h1>Search Results</h1>
    <div class="game_container">
        <div class="game_row">
            {% for game in games %}
            {% if game.get('appId') %} <!-- Only render the game if it has an appId -->
            <div class="game_col-md-2-4">
                <div class="game_card">
                    <!-- Wrapping the entire game card inside a link -->
                    <a href="{{ url_for('game_detail', game_id=game.appId) }}">
                        <img src="{{ game.imgUrl }}" alt="{{ game.title }}" class="game_card-img">
                        <div class="game_card-body">
                            <h5 class="game_card-title">{{ game.title }}</h5>
                            <!-- You can add more game info here. E.g., release date or any other details you want. -->
                        </div>
                    </a>
                </div>
            </div>
            {% endif %} <!-- End of the condition check for appId -->
            {% endfor %}
        </div>
    </div>
    </div>


<!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>


</body>
</html>


